.img-fluid{
    max-width: 100%;
    max-height: auto;
}

.container-fluid{
    padding: 0;
    margin: 0;
}
.navbar-brand{
    font-family: "Lobster", sans-serif;
    font-weight: 200;
    font-size: 30px;
}

.navbar-item{
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.navbar{
    color: #313e47;
}


/*--------------------Footer-----------------*/

.inline-block{
    display: inline-block;
}

.col-sm-4{
    border: 2px solid;
    border-color: #313e47;
    border-top: none;
}
h5{
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    color: black;
    text-align: center;
    margin-top: 16px;
}

footer, p{
    text-align: center;
    font-family: "Roboto", sans-serif;
    color: black;
    font-weight: 300;
}

.jumbotron,
.display-4,
.lead,
.btn{
text-align: center;
}


